.our-progress{
    height: 400px;
    background-image: url('https://static.tildacdn.com/tild3231-3335-4530-b432-336163336631/Blue-World-map-geogr.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: rgba(47, 184, 29, 0.5);
    
    div{
        background-color: rgba(227, 233, 227, 0.5);
        height: inherit;
    }
}