$brandColor: #72a230;
$brandSecondary: #fff;

@mixin container {
    padding-left: 10vw;
    padding-right: 10vw;
}
.scrolled {
    position: fixed;
    top: 0;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar-top {
        @include container;
        width: 80vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        background-color: $brandColor;
        align-items: center;

        .navbar-top .nav-item {
            text-decoration: none;
            padding: 0 10px;
            font-size: 18px;
            font-weight: 500;
            border-right: $brandSecondary 2px solid;
            color: $brandSecondary;
        }
        .nav-item {
            text-decoration: none;
            padding: 0 10px;
            font-size: 18px;
            font-weight: 500;
            border-right: $brandSecondary 2px solid;
            color: $brandSecondary;

            .social-icon {
                font-size: 25px;
            }
            &:last-child {
                border-right: none;
            }
        }
    }

    .navbar-middle {
        @include container;
        display: flex;
        justify-content: space-between;
        width: 80vw;
        height: 100px;
        align-items: center;

        .logo img {
            height: 80px;
        }
        .contact-us {
            display: flex;
            .contact-us-item {
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-left: 30px;

                .item-top {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 18;

                    .icon {
                        color: $brandColor;
                        font-size: 25px;
                    }
                }
                .item-bottom {
                    font-size: 12px;
                }
            }
        }
    }

    .nav-bottom {
        background-color: #f0f0f0;
        height: 60px;
        width: 80vw;
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        ul {
            display: flex;
            list-style: none;
        }
        .nav-item {
            padding: 5px 15px;
            text-decoration: none;
            color: $brandColor;

            &:hover {
                background-color: $brandColor;
                color: $brandSecondary;
            }
        }
        .nav-item.nav-button {
            background-color: $brandColor;
            margin: 5px;
            color: white;
        }
    }
}

// .nav-bottom
// .nav-bottom
// .nav-bottom .nav-item

// .nav-bottom
